{% extends "auctions/layout.html" %}

{% block body %}

{% if message %}
<div class="alert alert-danger">
    Start bid must be more than 0.
</div>
{% endif %}
{% if form %}
    <form action="{%url 'new'%}" method="post">
    {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label}}</label>
            <div>
                {{ field }}
            </div>
        </div>
        {% endfor%}
    <input type="submit" value="Start auction" class="btn btn-success">
    </form>  
{% endif %}
{% endblock %}